<!DOCTYPE html>
<html>
<head>
  <title>Rails monitoring</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    "rails_monitoring/application", media: "all" %>
  <%= javascript_include_tag "rails_monitoring/application" %>
</head>
<body>

<%= yield %>

</body>
</html>
