<style>
  body {
    margin: 16px;
    font-family: monospace;
  }

  h1 {
    font-size: 3em;
  }

  .success {
    font-weight: bold;
    color: green;
  }

  .error {
    font-weight: bold;
    color: red;
  }
</style>

<% db_connection_ok = ActiveRecord::Base.connection.select_value('select 1 from dual') rescue false %>

<% successful = db_connection_ok %>

<h1>Monitoring</h1>

<h2>Informations</h2>
<p>URL: <%= request.base_url %></p>
<p>IP address: <%= request.ip %></p>
<p>Port: <%= request.port %></p>

<h2>Health Checks<%= (successful ? '<span class="success">[OK]</span>' : '<span class="error">[ERROR]</span>').html_safe %></h2>
<p>Status: <span class="success">200</span></p>
<p>Database connection: <%= (db_connection_ok ? '<span class="success">Connected</span>' : '<span class="error">Error</span>').html_safe %></p>
